body {
  font-family: 'Roboto', sans-serif;
  font-size: 19px;
  background: url('/img/tile.jpg') top left repeat;

}

h1, h2, h5 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

.highlight {
  font-family: 'Kalam', cursive;
  font-weight: 700;
}

.code {
  font-family: 'Open Sans Condensed', sans-serif;
}


footer {
    background: #3e4249;
    color: white;
    padding: 20px;
    margin: 50px 0 0 0;
    font-size: 12px;
}